<!--<div ng-repeat="player in players">-->
<!--  <label for="playerName">Name:</label><br>-->
<!--  <input name="playerName" type="text" ng-model="player.name" />-->

<!--  <label for="playerClass">Class:</label><br>-->
<!--  <select name="playerClass" ng-model="player.class" ng-change="valueSelected()">-->
<!--    <option value="">---Please select---</option> [> not selected / blank option <]-->
<!--<option ng-repeat="class in classes" value="{{class}}" ng-disabled="isAlreadySelected(class)">{{class}}</option>-->
<!--  </select><br>-->

<!--  <button name="removePlayer" ng-click="removePlayer($index)">Remove</button>-->
<!--</div>-->

<!--<button name="addPlayer" ng-click="addPlayer()" ng-disabled="isPartyFull()">Add Player</button>-->

<!--<button name="submit" ng-click="submit()">Continue</button>-->

<div class="row">
  <div class="small-10 small-centered columns" >
    <div class="row">
      <div class="small-12 text-center columns">
        <div ng-if="players.length == 0">
          <span>Add Players to Continue</span>
        </div>

        <div ng-if="players.length > 0">
          <div ng-repeat="player in players">
            <span>{{player.name}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-12 text-center">
        <ul class="button-group">
          <li><a class="button" ng-click="addPlayer()"><i class="fa fa-plus-circle"></i> Add</a></li>
          <li><a class="button" ng-if="players.length > 0" ng-click="begin()">Begin</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>


