<!-- BOSS ARTWORK -->
<img src='{{currentBoss.label_image.original}}'> <br>

{{currentBoss.name}} Health: {{currentBoss.abvRemaining}} <br>

<player-info></player-info>

<button ng-click="characterInfo()">Character</button>

<button ng-click="inventory()">Inventory</button>

<button ng-click="ability()">Ability</button>

<button ng-click="attack()">Attack</button>

<modal-dialog show='modalShown' width='340px' height='340px'>
  <div ng-show='characterShown'>character stuff</div>
  <div ng-show='inventoryShown'>inventory stuff</div>
  <div ng-show='abilityShown'>ability stuff</div>
  <button ng-click="closeModal()">Continue</button>
</modal-dialog>

