<input
    name="playerName"
    type="text"
    placeholder="NAME"
    ng-model="player.name" />

<input
  id="{{charClass}}"
  type="radio"
  label="{{charClass}}"
  value="{{charClass}}"
  name="charClasses"
  ng-repeat="charClass in charClasses"
  ng-disabled="isAlreadySelected(charClass)"
  ng-model="player.charClass" />

<button ng-click="addPlayer()">Add</button>

<!--  <label for="playerClass">Class:</label><br>-->
<!--  <select name="playerClass" ng-model="player.class" ng-change="valueSelected()">-->
<!--    <option value="">---Please select---</option> [> not selected / blank option <]-->
<!--<option ng-repeat="class in classes" value="{{class}}" ng-disabled="isAlreadySelected(class)">{{class}}</option>-->
<!--  </select><br>-->

<!--  <button name="removePlayer" ng-click="removePlayer($index)">Remove</button>-->
<!--</div>-->

<!--<button name="addPlayer" ng-click="addPlayer()" ng-disabled="isPartyFull()">Add Player</button>-->

<!--<button name="submit" ng-click="submit()">Continue</button>-->
