<div class="row top-m">
  <div class="ten columns offset-by-one text-center">
     <input
        class="wide"
        name="playerName"
        type="text"
        placeholder="Player's Name"
        ng-model="player.name" >
  </div>
</div>

<div class="row">
  <div class="ten columns offset-by-one text-center">
    <ul class="tiles">
      <li ng-repeat="role in roles">
        <label for="role_{{role.id}}">
          <input type="radio"
                 id="{{role.id}}"
                 value="{{role.id}}"
                 name="player.role"
                 title="{{role.name}}"
                 ng-disabled="isAlreadySelected(role.id)"
                 ng-model="player.role"
          >
          <img src="{{role.imgPath}}">
          {{role.name}}
        </label>
      </li>
    </ul>

      </div>

    <div class="row">
      <div class="small-12 text-center columns">
        <a ng-click="addPlayer()"
           class="button" ng-click="addPlayer()">
          Confirm <i class="fa fa-check-circle"></i>
        </a>
      </div>
    </div>
  </div>
</div>



<!--  <label for="playerClass">Class:</label><br>-->
<!--  <select name="playerClass" ng-model="player.class" ng-change="valueSelected()">-->
<!--    <option value="">---Please select---</option> [> not selected / blank option <]-->
<!--<option ng-repeat="class in classes" value="{{class}}" ng-disabled="isAlreadySelected(class)">{{class}}</option>-->
<!--  </select><br>-->

<!--  <button name="removePlayer" ng-click="removePlayer($index)">Remove</button>-->
<!--</div>-->

<!--<button name="addPlayer" ng-click="addPlayer()" ng-disabled="isPartyFull()">Add Player</button>-->

<!--<button name="submit" ng-click="submit()">Continue</button>-->
